<form name="question_response" action="/new_response" method = "POST">
  <input type="text" name="question_response" placeholder = "Type your response">
  <input type="submit" value ="Add Response">
</form>
