<div class="container">
  <h2 class="main">Create a Survey!</h2>
  <div id="survey_title">
  </div>
  <br>
  <div id="existing_questions">
  </div>
  <br>
  <div id="submit_title_form">
    <h3>Enter a Title:</h3>
      <form name="create_survey_title" action="/new_survey" method="POST">
        <input type="text" name="survey_title" placeholder="Survey Title">
        <input type="submit" value="Submit">
      </form>
  </div>

  <div class="new_question">
  </div>

  <p>**Are you done creating this survey?  When you are just <a href="/menu">submit my survey</a> here.**</p>
  <p>**Made a mistake?  Just <a href="/profile">delete the survey</a> and start over.**</p>


</div>
