<div class="container">
  <h1>SurveyGorilla</h1>
  <p>Create and publish online surveys in minutes, and view results in real time.</p>

  <!-- <h4>Log In</h4> -->
    <fieldset>
      <legend>Log In</legend>
      <form id="login-form" name="login" action="/login" method="POST">
        <label>Email:</label>
        <input type="text" name="email" placeholder="email"><br>
        <label>Password:</label>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Submit">
      </form>
    </fieldset>

    <!-- <h4>Create Account</h4> -->
    <fieldset>
      <legend>Create Account</legend>
      <form id="signup-form" name="create_account" action="/signup" method="POST">
        <label>Email:</label>
        <input type="text" name="email" placeholder="email"><br>
        <label>First Name:</label>
        <input type="text" name="first_name" placeholder="first name"><br>
        <label>Last Name:</label>
        <input type="text" name="last_name" placeholder="last name"><br>
        <label>Password:</label>
        <input type="password" name="password" placeholder="password"><br>
        <label>Password Confirmation:</label>
        <input type="password" name="confirm_password" placeholder="confirm password"><br><br>
        <input type="submit" value="Submit">
      </form>
    </fieldset>
</div>
